<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="css/main.css"/>

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="welcome.html">Home page</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="author.html">Authors</a></li>
                <!--<li><a href="#about">About</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="starter-template">
    <h1>Spring Boot AJAX Example</h1>

    <div id="feedback"></div>

    <form class="form-horizontal" id="search-form">
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label">Book name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="bookName" value="search..."/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="bth-search"
                        class="btn btn-primary btn-lg">Search
                </button>
            </div>
        </div>
    </form>

</div>

<div class="container">

    <div class="starter-template">
        <h1>Otus homework.</h1>
    </div>

</div>
<table class="book" border="1" style="border: aquamarine">
    <thead>
    <tr>
        <th></th>
        <th th:width="120">ID</th>
        <th th:width="150">Name</th>
        <th th:width="200">Description</th>
        <th th:width="50">Action</th>
    </tr>
    </thead>

    <th:block th:each="book : ${books}">
        <tr class="row">
            <td th:text="${book.id}">A Book id'</td>
            <td th:text="${book.name}">A Book name'</td>
            <td th:text="${book.description}">A Book description'</td>
            <td>
                <a href="editBook.html " data-th-href="@{/editBook(id=${book.id})}">Edit</a>
            </td>
        </tr>
    </th:block>
</table>


<table class="author" border="1" style="border: aqua">
    <thead>
    <tr>
        <th></th>
        <th th:width="120">ID</th>
        <th th:width="100">First Name</th>
        <th th:width="100">Last Name</th>
        <th th:width="50">Action</th>
    </tr>
    </thead>

    <th:block th:each="author : ${authors}">
        <tr class="row">
            <td th:text="${author.id}">A author id'</td>
            <td th:text="${author.firstName}">A author firstName'</td>
            <td th:text="${author.lastName}">A author lastName'</td>
            <td>
                <a href="editAuthor.html">Edit</a>
            </td>
        </tr>
    </th:block>
</table>

<table class="author" border="1" style="border: aqua">
    <thead>
    <tr>
        <th></th>
        <th th:width="100">ID</th>
        <th th:width="150">Name</th>
        <th th:width="50">Action</th>
    </tr>
    </thead>

    <th:block th:each="genre : ${genres}">
        <tr class="row">
            <td th:text="${genre.id}">A genre id</td>
            <td th:text="${genre.name}">A genre name</td>
            <td>
                <a href="editGenre.html">Edit</a>
            </td>
        </tr>
    </th:block>
</table>
<!-- /.container -->
<div class="container">
    <footer>
        <p>
            © <a href="https://vk.com/deft1991">Deft.com</a> 2018
        </p>
    </footer>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>